/* -----------------------------------------------------------------------------
 *                                  Base
 * ---------------------------------------------------------------------------*/

 
/* Colors */

$black		: #000;
$white		: #fff;

$grey-10 	: darken(white, 10%);
$grey-20 	: darken(white, 20%);
$grey-30 	: darken(white, 30%);
$grey-40 	: darken(white, 40%);
$grey-50	   : darken(white, 40%);
$grey-60 	: darken(white, 60%);
$grey-70 	: darken(white, 30%);
$grey-80 	: darken(white, 80%);
$grey-85	   : darken(white, 85%);
$grey-90 	: darken(white, 90%);

$grey 		: $grey-80;
$dark-grey	: $grey-85;
$light-grey	: $grey-10;

$red		   : #BF0000;
$darkred    : darken($red, 12%);
$green		: #64672D;
$darkgreen  : #4D4F22;
$tan 		   : #FDF3C9;

/* 2015 Color Scheme */
$blue		   : #40abba;
$orange     : #ea7125;
$milgray    : #ebe8e4;
$milwhite   : #f7f7f7;
$darkdark   : #262626;


$experimental-support-for-svg: true;
@mixin nav-gradient() {
	background: $dark-grey;
	@include background-image(linear-gradient(lighten($dark-grey, 3%), 
                             darken($dark-grey, 3%)));
}

/*Font Families*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

$font-default-color			: $black;
$font-default-family       : "Open Sans", sans-serif;
$font-default-lineheight	: 1.5;
$font-default-size			: 1.6em;
$font-default-weight			: regular;

$font-menu-color				: $light-grey;
$font-menu-family				: $font-default-family;
$font-menu-lineheight		: 1.5;
$font-menu-size				: 1.4em;
$font-menu-weight				: 100;

$font-widget-color			: $black;
$font-widget-family			: $font-default-family;
$font-widget-lineheight		: 1.5;
$font-widget-size				: 1.2em;
$font-widget-weight			: regular;

$link-color-normal			: $black;
$link-color-hover				: $black;
$link-color-active			: $black;
$link-color-visited			: $black;
$link-color-focus				: $black;

$menu-link-color-normal		: $light-grey;
$menu-link-color-hover		: $white;
$menu-link-color-active		: $light-grey;
$menu-link-color-visited	: $light-grey;
$menu-link-color-focus		: $light-grey;

$twitter-link-color-normal		: $blue;
$twitter-link-color-hover		: $orange;
$twitter-link-color-active		: $blue;
$twitter-link-color-visited	: $blue;
$twitter-link-color-focus		: $blue;


/*Text Shaddow Defaults */
$default-text-shadow-color		: rgba(black, 0.75);
$default-text-shadow-h-offset	: 0px;
$default-text-shadow-v-offset	: 0px;
$default-text-shadow-blur		: 0;

/*Box Shadow Defaults*/
$default-box-shadow-color		: rgba(black, 0.75);
$default-box-shadow-h-offset	: 0px;
$default-box-shadow-v-offset	: 2px;
$default-box-shadow-blur		: 0;
$default-box-shadow-spread		: -1px;
$default-box-shadow-inset		: false;

/*Transition Defaults */
$default-transition-property 	: all;
$default-transition-duration 	: 200ms;
$default-transition-function 	: ease-out;
$default-transition-delay    	: 100ms;

/*Border Radius Default*/
$default-border-radius			: 2px; 
$default-border 				   : solid 2px $black;

/*Background Images*/
$site-background-image			: image-url("bg.png");

@import "main/*.png";
@include all-main-sprites;