/* -----------------------------------------------------------------------------
 *                                  Forms
 * ---------------------------------------------------------------------------*/

input[type="submit"] {
   -webkit-appearance: none;
}
 
.welshimer-form {

   .form {
      margin:0.5em 0;
   }
  
   form {
      h3 {
         padding: 1em 0 0.5em 0;
      }
   } 
   
   .submit {
      display:block;
      @include border-radius(2px);
      background-color:$blue;
      border:solid 1px $grey-80;
      color:$white;
      margin:1em 0;
      padding:0.5em 2em;
      text-align:center;
      text-decoration:none;
      &:hover {
         @include transition();
         background-color:$orange;
         cursor:pointer;
      }
   }

   $form-margin-right: 1%;

   .text, .textarea, {
      border:1px solid $darkdark;
      @include border-radius();
      display:inline-block;
      width:100%;
      padding:0.5em;
      margin-right:$form-margin-right;
      vertical-align:top;
   }

   .quarter {
      width:25% - $form-margin-right;
   }

   .half {
      width:50% - $form-margin-right;
   }

   .three-fourths {
      width:75% - $form-margin-right;
   }

   .full {
      width:100% - $form-margin-right;
   }

   .label {
      display:block;
   }

   @media all and (min-width:600px){
      .text, .textarea {
         width:75% - $form-margin-right;
      }

      .three-fourths {
         width:50% - $form-margin-right;
      }

      .half {
         width:25% - $form-margin-right;
      }

      .quarter {
         width:25% - $form-margin-right;
      }
    
      .label {
         display:inline-block;
         width:25% - $form-margin-right;
         margin-right:$form-margin-right;
      }
   }
} /* END welshimer-form */


/* Gravity Forms plugin styles */
.gform_wrapper {
   
   .gfield_label {
      font-weight: Normal !important;
   } 
   
   .ginput_container input, .ginput_container textarea, .ginput_container select {
    border: 1px solid $darkdark;
    @include border-radius();
   }
   
   .gform_button {
      display: block;
      @include border-radius(2px);
      background-color:$blue;
      border:solid 1px $grey-80;
      color:$white;
      margin: 1em 0;
      padding: 0.5em 2em;
      text-align: center;
      text-decoration: none;
      &:hover {
         @include transition();
         background-color:$orange;
         cursor:pointer;
      }
   } 
   
   h3 {
      font-weight: 800 !important;
   }
   
   .validation_error {
      border: 2px solid;
      background-color: #fdd;
   } 
   
   .gf_repeater_add, .gf_repeater_remove {
      border: 1px solid #666;
      padding: 5px;
      border-radius: 2px;
	   margin-right: 10px; 
	   
      img {
         vertical-align: sub; 
      }
   } 
   
   .gform_footer {
      margin-left: 0% !important;
      width: 100% !important;
      input.gform_button {
         width: 100%;
      }
   }
   
   @media all and (max-width: 600px) { 
      .gfield_label, input.medium, select.medium, div.ginput_complex {
         width: 100% !important;
      } 
   }
   
} /* END gform_wrapper */


/* Gravity Wiz Nested Forms */

.gpnf-dialog .ui-widget-header {
   height: 65px !important;
}

.gpnf-dialog .ui-dialog-content {
   margin: 1em;
   padding: 0 !important;
}

.gpnf-dialog.ui-dialog {
   z-index: 99999 !important;
}

.gpnf-add-entry {
   display: block;
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
   border-radius: 2px;
   background-color: #40abba;
   border: solid 1px #333;
   color: #fff;
   margin: 1em 0;
   padding: 0.5em 2em;
   text-align: center;
   text-decoration: none;
}

.gpnf-add-entry:hover {
   -moz-transition: all 200ms ease-out 100ms;
   -o-transition: all 200ms ease-out 100ms;
   -webkit-transition: all 200ms ease-out;
   -webkit-transition-delay: 100ms;
   transition: all 200ms ease-out 100ms;
   background-color: #ea7125;
   cursor: pointer;
}  