/* -----------------------------------------------------------------------------
 *                                  Layout
 * ---------------------------------------------------------------------------*/


* {
   @include box-sizing('border-box');
}

html {
   position:relative;
   top:46px;
   @media all and (min-width:800px) {
      top:0;
      border-top: 10px solid $orange;
   }
}

body { 
   background-image: $site-background-image;
   background-color: $milgray;
   background-repeat: repeat-x;
   min-width:320px;
   max-width:1100px;
   position:static;
   @media all and (min-width:800px) {
      min-width:960px;
      margin:0 auto;
   }
}

.site-header {
   background-color:$milwhite;
   height:8.5em;
   a {
      text-decoration: none;
   }
   @media all and (min-width:600px) {
      height:11em;
   }
   @media all and (min-width:800px) {
      height:16em;
   }
}

.milligan-logo {
   margin: 0.5em 0 -0.3em 0.5em;
   width: 27.6em;
   float:left;
   img {width:100%; height:auto;}
   @media all and (min-width:600px) {
      margin: 1em 0px -0.4em 0.6em;
      width: 33em;
   }
   @media all and (min-width:800px) {
      margin:-1.7em 0 -0.3em 3em;
      width: 33em;
   }
}

.welshimer-logo {
   position:relative;
   font-family: "open sans", sans-serif;
   font-style:normal;
   font-size:1.7em;
   color:$black;
   margin:-0.1em 0px 0px 0.2em;
   float:left;
   @media all and (min-width:600px) {
      font-size:2.5em;
      margin:0em 0 0 0.2em;
   }
   @media all and (min-width:800px) {
      font-size:2.5em;
      margin: 0em 0 0 1.2em;
   }
}

#subtitle-desktop {
   display: none;
   @media all and (min-width:700px) {
      display: block;
   }
}

#subtitle-mobile {
   display: block;
   @media all and (min-width:700px) {
      display: none;
   }
}

.social-menu {
   float:left;
   width:100%;
   font-family:'icon-font';
   z-index:999999;
   ul {overflow:auto;}
   li {
      text-align:center;
      width:33.3333%;
      margin:0;
      font-size:1.5em;
      list-style:none;
      float:left;
   }
   @media all and (min-width:800px) {
      display:none;
      width:10em;
      position:absolute;
         top:0;
         right:0;;
      ul {background-color: transparent !important;}
      a {
         padding:0.075em 0.5em !important;
         &:last-of-type {
            border-right:none !important;
         }
      }
   }
}

#page { 
   background-color:$milgray;
   position:relative;
   margin:0;
   width:100%;
   overflow:hidden;
   @media all and (min-width:800px) {
      margin:0 2%;
      max-width:1100px;
      overflow:visible;
      width:96%;
   }
}

.site-content {
   float: left;
   margin: 0 -22em 0 0;
   width: 100%;
   @media all and (min-width:800px) {
      padding: 1% 0 0 2.5%;
      min-height: 62em;
   }
}

#content {
   margin: 0 1em 0 0;
   @media all and (min-width:800px) {
      margin:0 32em 0 0;
   }
}

.widget-area { /* Sidebar 1 */
   background: $white; //$dark-grey;
   overflow: visible;
   width: 22em;
   position:absolute;
   top:10em;
   right:-20.5em;
   @include border-radius();
   z-index:2;
   transition: right linear 0.25s;
   border: 1px solid $black;
   border-right: none;
   @media all and (min-width:800px) {
      background-color: transparent;
      @include border-left-radius();
      right:5%;
      top:15.75em;
      transition: none;
      border: none;
   }
}

.widget-area-flash {
   background: $orange !important;
}

.side-expand {
   display:block; visibility:visible;
   position:absolute;
   top:0;
   left:0;
   width:1.4em;
   height:100%;
   background-color: transparent;
   z-index:0;
   &:after {
      font-family:icon-font;
      font-size:1em;
      color:$black;
      content: "\e00e";
      position:absolute;
      top:2%;
      left:5px;
      vertical-align:center;
      cursor:pointer;
   }
   &:hover:after {
      color:$black;
      left: 5px;
   }
   @media all and (min-width:800px) {
      visibility:hidden;
   }
}

.side-expand-open {
   right:0;
}

.side-expand-open .side-expand:after {
      content:"\e00f";
}

#tertiary { /* Sidebar 2 */
   clear: right;
}

#colophon {
   clear:both;
}

.site-footer {
   background:$milgray;
   color:$black !important;
   width: 100%;
   height:8em;
   @media all and (min-width:800px) {
      background: transparent;
   }
}

.footer-logo {
   img {
      width: 19.4em;
   } 
   @media all and (min-width:800px) {
      margin: 1em 0em 0.5em 2.75em;
   }
}

.site-info {
   display:block;
   font-size: 75%;
   @media all and (min-width:800px) {
      padding-left: 3.8em;
   }  
}

.footer-column {
   display: inline-block;
   float: left;
   margin-right: 5em;
   color: $black;
   div a { 
      text-decoration: none; 
   }
   p {
      margin: 0;
      padding-top: 0.8em;
      font-size:85%;
      a {
         text-decoration: none;
         &:hover {
            text-decoration: underline;
         }
      }
   }
}

.foot-noscript {
   font-family: $font-default-family;
   text-align:center;
   background:#777;
   color:$white;
   font-size:1em;
   height:2em;
   padding:0.25em;
   margin:0;
   position:fixed;
   bottom:0;
   left:0;
   width:100%;
   z-index:999999999;
   a {color:$white; font-weight:bold;text-decoration:underline;}
}

.old-ie-nojs {
  display:none;
}


/* staff profiles */

.profile {
   display:block;
   margin-top:2em;
   border-top: 1px solid #ccc;
   padding-top: 1em;

   p { 
      margin-bottom:1em;
   }

   img {
      display:block;
      float: left;
      margin: 0 1em 1em 0;
      @include border-radius(4px);
   }

   ul {
      margin-left: 0;
      list-style: none;
   }

   .phone-icon a {
      text-decoration: none;
   }

   .phone-icon:before {
      font-family: icon-font;
      content: "\e014";
      margin-right: 0.5em;
   }

   .email-icon:before {
      font-family: icon-font;
      content: "\e002";
      margin-right: 0.5em;
   }

   h2, h4 {
      clear: none;
   }
}