/* -----------------------------------------------------------------------------
 *                                    Menu
 * ---------------------------------------------------------------------------*/


#mobile-menu-wrapper {
   background:$darkdark;
   height:46px;
   color:$white;
   display:block;
   margin:0;
   padding:0.5em 0.25em;
   position:fixed;
   top:0;
   left:0;
   text-decoration:none;
   width:100%;
   z-index:3;
   border-bottom: 5px solid $orange;
   @media all and (min-width:800px){
      display:none;
   }
}

#menu-toggle{
   background-color: transparent;
   border:none;
   padding:0.5em;
   height:3em;
   cursor:pointer;
}

.icon-bar {
   background-color: $white;
   @include border-radius();
   display: block;
   margin-bottom: 0.3em;
   height: 3px;
   width: 2em;
}

#primary-menu{
   .main-navigation {
      font-size:1.25em;
      display:none;
      z-index:3;
      }
   .main-navigation ul {
      margin:0;
      padding:0;
      background:$grey;
   }
   .main-navigation li {
      list-style:none;
   }
   .main-navigation li a {
      color:$white;
      display:block;
      padding:0.5em 1em;
      text-decoration:none;
   }
   /* BEFORE and AFTERs for Link and Menu Classes */
   .parent {
      cursor:pointer;
   }
   .parent > a {
      @media all and (min-width:800px){
         padding-right:1em !important;
      }
      &:after {
         float:right;
         content:'\002b'; /*plus sign*/
         @media all and (min-width:800px){
            font-family:'icon-font';
            font-size: 70%;
               position:absolute;
                  top:1.3em;
                  right:0.25em;
               padding-left:2px;
            content: '\25BE'!important;/*small down triangle*/
            content: '\e013' !important;
            }
         }
      }
   .open-item > a:after {
      content:'\2013'; /*minus sign*/
   }

   .main-navigation .sub-menu {
      display:none;
      position: relative;
      top: 0;
      margin:0;
   }
   .main-navigation .sub-menu a {
      background:$dark-grey;
      border:none;
      border-bottom:solid 1px $grey;
      padding:0.5em 3em;
      &:last-child{
         border:none;
      }
   }
   .main-navigation li:hover > a {
      background:$orange;
      @include transition();
   }
   .display-toggle{
      display:block !important;
      position: fixed;
      width: 100%;
      height: 100%;
      top: 46px;
      overflow-y: auto;
      background-color: $grey;
   }
   .menu-icon {
      position:relative;
   }
   .sub-menu .menu-icon a {padding:0.5em 0.5em 0.5em 2.5em !important;}
   .menu-icon > a:before {
      position:absolute;
      top:0.35em;
      left:15px;
      font-family:icon-font;
      font-size:1.25em;
      text-align:center;
      @media all and (min-width:800px){
         top:0.4em;
         left:0.5em;
         font-size:1.25em;
      }
   }
   .article > a:before {
      content: "\e008";
   }
   .audio > a:before {
      content: "\e009";
   }
   .book > a:before {
      content: "\e00a";
   }
   .image > a:before {
      content: "\e00d";
   }
   .search > a:before {
      content: "\e001";
   }
   .sheetmusic > a:before {
      content: "\e000";
   }
   .speech > a:before {
      content: "\e017";
   }
   .video > a:before {
      content: "\e00c";
   }
   .web > a:before {
      content: "\e015";
   }
   .telephone > a:before {
      content: "\e014";
   }
   .mail > a:before {
      content: "\e002";
   }
   .mcsearch > a:before {
      content:"\e001";
   }
   .mcsearch > a:after {
      display:inline-block;
      width:3em;
      height:20px;
      position:absolute;
      right:1.5em;
      top:0.5em;
      content:"";
      @include main-sprite(mcsearch);
   }
   .twitter > a:before {
      content: "\e01c";
   }
   .facebook > a:before {
      content: "\e019";
   }
   .wordpress > a:before {
      content: "\e02a";
   }

   .div-below {
      border-bottom:solid 1px darken(white, 90%);
      @media all and (min-width:800px){
         border-bottom:solid 1px darken(white, 85%);
      }
      & > a {padding-bottom:0.25em;}
   }
   .div-above {
      border-top:solid 1px darken(white, 80%);
      @media all and (min-width:800px){
         border-top:solid 1px darken(white, 75%);
      }
      & > a {padding-top:0.25empx;}
   }

   @media all and (min-width:800px) {
      .display-toggle{
      }
      #topbar {
         background-color: $darkdark;
         position: absolute;
         width:100%;
         min-width:960px;
         left:0;
         top:9.5em;
         z-index:1;
         height:2.5em;
      }
      .main-navigation {
         background:$dark-grey;
         clear: both;
         display: block;
         font-size:1em;
         position:relative;
         top:9.5em;
         left:3.2em;
         width: 93%;
         z-index:99999;
         min-width:905px;
      }
      .main-navigation ul {
         list-style: none;
         margin:0;
         padding-left: 0;
      }
      .main-navigation li {
         float: left;
         position: relative;
      }
      .main-navigation li a {
         background:$dark-grey;
         display: block;
         padding:0.5em;
         text-decoration: none;
      }
      .main-navigation .sub-menu {
         @include transition();
         display: block;
         float: left;
         margin:0;
         opacity:0;
         position: absolute;
         top: 2.5em;
         left: 0;
         visibility:hidden;
      }
      .main-navigation .sub-menu a {
         background:$grey;
         border-top:$dark-grey;
         padding:0.5em;
      }
      .main-navigation ul ul ul {
      }
      .main-navigation ul ul a {
         width:18em;
      }
      .main-navigation ul ul li {
      }
      .main-navigation li:hover > a {
      }
      .main-navigation ul ul :hover > a {
      }
      .main-navigation ul ul a:hover {
      }
      .main-navigation ul li:hover > ul {
         visibility:visible;
         opacity:1;
      }
      .main-navigation li.current_page_item a,
      .main-navigation li.current-menu-item a {
      }

      #menu-primary > li {
         margin-right: 1em;
      }
   }
} /* END #primary-menu */

.secondary-menu-main{
   display:none;
}

.secondary-menu-select{
   display: none;
   position:fixed;
   top:0.8em;
   right:1em;
   z-index:4;

   select {
      width:6.5em;
   }
}


@media all and (min-width:800px){
   .secondary-menu-main {
      display:block;
      width:32em;
      position:absolute;
      top:5px;
      right:4.4em;
      z-index:1;
   }

   .secondary-menu-main ul {
      margin:0;
      padding:0;
   }

   .secondary-menu-main li {
         list-style:none;
         float: right;
         position: relative;
         margin:0.5em 0.25em;
         padding-right:0.5em;
         border-right:solid 2px $black;
         &:first-child{border:none;}
      }

   .secondary-menu-main a {
      color:$black;
      font-weight:700;
      text-decoration:none;
      @include text-shadow(none);
      display:block;
      height:1.5em;
      &:hover{color:$orange;}
   }
   
   .secondary-menu-select {
      display:none;
   }
   
} /* END @media all and (min-width:800px) */


.main-login {
   width:4em;
}

.main-news {
   width:8em;
}

.main-home {
   width:8.25em;
}